
div.fp-tableCell:nth-type-of(3){vertical-align:top}
.section1 { position:relative; overflow:hidden; _overflow:-moz-hidden-unscrollable;}
.section1 .bg{ position:absolute; left:0; top:0; width:100%; height:100%;}
.section1 .bg img{ display:block; width:100%; height:100%;}
.section1 .name{ width:500px; height:200px; position:absolute; left:50%; top:50%; margin-left:-250px; margin-top:-100px;}
.section1 p{ 
-webkit-transition:1s all ease;
-moz-transition:1s all ease;
-ms-transition:1s all ease;
-o-transition:1s all ease;
transition:1s all ease;}
.section1 p:nth-of-type(1){ _position:absolute; left:568px; _top:200px; font-size:58px; color:#f7e11c; 
-webkit-transform:translateY(-350px);
-moz-transform:translateY(-350px);
-ms-transform:translateY(-350px);
-o-transform:translateY(-350px);
transform:translateY(-350px);}
.section1 p:nth-of-type(2){ _position:absolute; left:568px; _top:300px; font-size:58px; color:#e7881e; 
-webkit-transform:translateY(450px);
-moz-transform:translateY(450px);
-ms-transform:translateY(450px);
-o-transform:translateY(450px);
transform:translateY(450px); margin-top:100px;}
.section2 { background:url(img/page2bg.jpg) 100%; width:100%; height:100%; position:relative; overflow:hidden; _overflow:-moz-hidden-unscrollable;}
.section2 .bg{ position:absolute; left:0; top:0; width:100%; height:100%;}
.section2 .bg img{ display:block; width:100%; height:100%;}
.section2 h2{   
-webkit-transition:1s all ease;
-moz-transition:1s all ease;
-ms-transition:1s all ease;
-o-transition:1s all ease;
transition:1s all ease; 
-webkit-transform:translate(45%,-350px);
-moz-transform:translate(45%,-350px);
-ms-transform:translate(45%,-350px);
-o-transform:translate(45%,-350px);
transform:translate(45%,-350px); font-size:48px;}
.section2 a{ color:#fff; display:block; width:100%; height:100%;}
.section2 .con{ width:512px; height:218px; position:absolute; left:50%; top:50%; margin-left:-256px; margin-top:-109px; line-height:38px;}
.section2 .con p{ font-size:18px; color:#6d7175;}
.section2 .hc,.section2 .js,.section2 .hc3{ width:156px; height:156px; border-radius:50%; text-align:center; line-height:156px; 
-webkit-transition:1s all ease;
-moz-transition:1s all ease;
-ms-transition:1s all ease;
-o-transition:1s all ease;
transition:1s all ease; font-size:26px; color:#fff;}
.section2 .hc{ background:#11c537; position:absolute; left:160px; top:300px; -webkit-transform:translateX(-320px);
																				-moz-transform:translateX(-320px);
																				-ms-transform:translateX(-320px);
																				-o-transform:translateX(-320px);
																				transform:translateX(-320px);}
.section2 .js{ background:#f6084b; position:absolute; left:762px; bottom:20px;  -webkit-transform:translateY(136px);
																				-moz-transform:translateY(136px);
																				-ms-transform:translateY(136px);
																				-o-transform:translateY(136px);
																				transform:translateY(136px);}
.section2 .hc3{ background:#f6a508; position:absolute; right:160px; top:144px; -webkit-transform:translateX(320px);
																				-moz-transform:translateX(320px);
																				-ms-transform:translateX(320px);
																				-o-transform:translateX(320px);
																				transform:translateX(320px);}
#dowebok .active h2{ visibility:visible; -webkit-transform:translate(45%,-250px);
					 -moz-transform:translate(45%,-250px);
					 -ms-transform:translate(45%,-250px);
					 -o-transform:translate(45%,-250px);
					 transform:translate(45%,-250px);
}
#dowebok .active .hc{ -webkit-transform:translateX(0);
					 -moz-transform:translateX(0);
					 -ms-transform:translateX(0);
					 -o-transform:translateX(0);
					 transform:translateX(0);}
#dowebok .active .js{ visibility:visible; -webkit-transform:translateY(0);
					 -moz-transform:translateY(0);
					 -ms-transform:translateY(0);
					 -o-transform:translateY(0);
					 transform:translateY(0);}
#dowebok .active .hc3{ -webkit-transform:translateX(0);
					 -moz-transform:translateX(0);
					 -ms-transform:translateX(0);
					 -o-transform:translateX(0);
					 transform:translateX(0);}
#dowebok .active p:nth-of-type(1){
						-webkit-transition-delay:0.5s;
						-moz-transition-delay:0.5s;
						-ms-transition-delay:0.5s;
						-o-transition-delay:0.5s;
						transition-delay:0.5s; 
						-webkit-transform:translateY(0);
						-moz-transform:translateY(0);
						-ms-transform:translateY(0);
						-o-transform:translateY(0);
						transform:translateY(0);}
#dowebok .active p:nth-of-type(2){ 
									-webkit-transition-delay:1s; 
									-moz-transition-delay:1s; 
									-ms-transition-delay:1s; 
									-o-transition-delay:1s; 
									transition-delay:1s;
									-webkit-transform:translateY(0);
									-moz-transform:translateY(0);
									-ms-transform:translateY(0);
									-o-transform:translateY(0);
									transform:translateY(0);}
.section3{ position:relative; width:100%; height:100%; overflow:hidden;  overflow:-moz-hidden-unscrollable;}
.section3 .top{ background:url(../img/top.jpg) 100%; width:100%; }
.top .nav{ display:-webkit-flex; display:flex; width:100%; height:116px;  line-height:116px; text-align:center;}
.nav li{ float:left; -webkit-flex:4; flex:4; font-size:20px;}
.nav li a{ color:#fff;}
.nav li.active a{ color:#12b737;}
.section3 .center{ position:relative; width:100%; height:476px; margin:0 auto; text-align:center; overflow:hidden;}

.center .con{ width:1200px; height:476px; _overflow:hidden; margin:0 auto; text-align:center; _background:red; position:relative;}
.center .con li{ float:left; width:272px; height:184px; margin-right:37px; margin-top:24px; padding-top:18px;}
.center .con li img{ width:240px; height:135px; -webkit-transition:0.5s all ease;
												-moz-transition:0.5s all ease;
												-ms-transition:0.5s all ease;
												-o-transition:0.5s all ease;
												transition:0.5s all ease;}
.center .con li:nth-of-type(4n){ margin-right:0;}
.center .con li:nth-of-type(8n){ margin-right:0;}
.center .con li.show{ box-shadow:0px 2px 10px #000; }
.center .con li p{ margin-top:20px;}
/*.center .con li:hover img{ width:250px; height:145px;}*/
.section3 .page { min-width:200px; position:absolute; right:2%; bottom:112px; height:20px;  _background:red; _margin-top:10px; _margin-bottom:10px;}
.page li{ float:left; width:60px; height:18px; text-align:center; line-height:18px; margin-left:10px; border:1px solid #ccc; cursor:pointer;}
.section3 .footer{ background:#1f2f3c; width:100%; height:110px; line-height:116px; margin-top:5px;}
.footer .fot_con{ margin-left:100px;}
.fot_con p{ color:#fff; font-size:16px; line-height:24px;}
@media screen and (min-width:1367px){
	.section3 .center{ position:relative; width:100%; height:655px; margin:5% auto 0; text-align:center;}
	.center .con{ width:1600px; margin:0 auto; text-align:center;}
	.center .con li{ float:left; width:350px; height:245px; margin-right:37px; margin-top:20px; padding-top:18px;}
	.center .con li img{ width:90%; -webkit-transition:0.5s all ease;
									-moz-transition:0.5s all ease;
									-ms-transition:0.5s all ease;
									-o-transition:0.5s all ease;
									transition:0.5s all ease;}
	.center .con li:hover img{ width:92%;}
	.center .con li:nth-of-type(4n){ margin-right:0;}
	.center .con li:nth-of-type(8n){ margin-right:0;}
	.center .con li p{ margin-top:30px; font-size:}
	.center .page { min-width:200px; position:absolute; right:2%; bottom:6px; height:20px; margin-top:10px;}
}