@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0;}
a{ text-decoration:none;}
li{ list-style:none;}
input{ padding:0; border:none 0; outline:none; background:none;}
.fl{ float:left;}
.fr{ float:right;}
.clearFix:after{ content:''; display:block; clear:both;}
body{ background:#f0efed; font-size:12px;}



.pt22{ padding-top:22px;}
.mr10{ margin-right:10px;}