@charset "utf-8";
/* CSS Document */

.fk_wrap{width:980px; margin:0 auto;}
.fk_wrap a{color:#666;}
.fk_nav_bg{ height:30px; background:#f5f5f5; border-bottom:1px solid #dfdfdf;}
.fk_nav_l li{float:left; line-height:30px;}
.fk_nav_l .a1{ padding-left:17px; background:url(../images/1.png) no-repeat;}
.fk_nav_l .a2{color:#f76120; margin:0 15px 0 19px; display:inline-block;}
.fk_nav_l .a3{margin-right:11px;}
.fk_nav_l .a4{ background:url(../images/2.png) no-repeat; padding-left:12px; margin-left:19px;}
.fk_nav_l .a4 i{background:url(../images/3.png) no-repeat; width:6px; height:3px; display:inline-block; margin-left:8px; margin-bottom:4px;}
.fk_nav_r li{float:left; line-height:30px;}
.fk_nav_r .a5,.fk_nav_r .a6,.fk_nav_r .a11{padding-right:22px; display:inline-block;}
.fk_nav_r .a6{ padding-left:12px; background:url(../images/3.png) no-repeat 67px 13px;}
.fk_nav_r .a8{padding-left:34px;background:url(../images/4.png) no-repeat 13px 11px; display:inline-block; padding-right:8px;}
.fk_nav_r .a8 span{background:url(../images/3.png) no-repeat; display:inline-block; width:8px; height:3px;margin-bottom:4px;margin-left:8px;}
.fk_nav_r .a8 b{color:#f76120;}
.fk_nav_r .a11{padding-left:12px;background:url(../images/3.png) no-repeat 43px 13px;}
/**/
h1{background:url(../images/5.png) no-repeat; width:92px; height:100px; text-indent:-999em;}
.fk_tab a{display:inline-block; width:58px; height:20px; border:1px solid #eee; line-height:20px; text-align:center;}
.fk_tab p{font-size:16px; font-weight:bold; margin-bottom:6px;}
.fk_tab{margin-right:93px;}
.fk_search{width:348px; height:40px;border:3px solid #2db8ad;}
.fk_button{width:82px; height:40px; background:#2db8ad; color:#fff; border:3px solid #2db8ad; cursor:pointer;}
.fk_search_menu{width:62px; height:34px; border-right:1px solid #ddd; display:inline-block; text-align:center; line-height:34px; background:url(../images/3.png) no-repeat 46px 16px; border-top:3px solid #2db8ad;border-bottom:3px solid #2db8ad;border-left:3px solid #2db8ad;}
.fk_more_serch li{float:left; margin-right:22px;}
.fk_mt_24{margin-top:24px;}
.fk_nav2 ul{width:980px; background:#2bb8aa;}
.fk_nav2 li{float:left;}
.fk_nav2 li a{color:#fff; line-height:40px; display:inline-block;}
.fk_nav2 .li1 a{ padding-left:17px; padding-right:140px;background:url(../images/2.jpg) no-repeat 178px 0; display:inline-block;}
.fk_nav2 .li2 a{padding-left:30px; padding-right:30px;}
.fk_qx{position:relative;margin:10px 0px;}
.fk_qx span{width:10px; height:10px; display:inline-block; position:absolute; right:5px; top:4px;}
.fk_nav3{width:978px; height:370px; border:1px solid #e8e8e8;}
.fk_nav3 .ul1{width:948px; height:48px; border-bottom:1px dashed #e8e8e8; margin-left:15px; margin-top:24px;}
.fk_sy{ width:40px; height:18px; border:2px solid #2bb8aa;}
.fk_nav3 .ul1 a{ line-height:20px; text-align:center;}
.fk_ms{width:48px; height:18px;border:2px solid #2bb8aa; background:url(../images/3.png) no-repeat 37px 8px;}
.fk_nav3 .ul1 li{float:left;}
.fk_none{width:20px; height:18px; border:2px solid #2bb8aa; border-left:none; text-align:center;}
.fk_nav3 .ul2{width:948px; height:105px; border-bottom:1px dashed #e8e8e8; margin-left:15px; margin-top:20px;}
.fk_nav3 .ul2 a{float:left;padding:3px 10px 3px 10px;  margin:0 5px 0 5px;}
.fk_nav3 .ul2 .li2{margin-left:36px; margin-top:15px;}
.fk_nav3 .ul2 .a1{background:#2bb8aa;height:19px; color:#fff; line-height:19px;}
.fk_nav3 .ul2 li{ text-align:center;}

.fk_nav3 .ul3{width:948px; height:50px; margin-left:15px; margin-top:20px;}
.fk_nav3 .ul3 a{float:left;padding:3px 10px 3px 10px; margin:0 10px 0 10px;}
.fk_nav3 .ul3 .a1{background:#2bb8aa;height:19px; color:#fff; line-height:19px;}
.fk_nav3 .ul3 li{ text-align:center;}
.ul2 a:hover,.ul3 a:hover{background:#2bb8aa; color:#fff;}


.zk_wrapper{ width:980px; margin:0 auto;}
.zk_fixed{ position:fixed; top:84px; right:10px; left:50%; margin-left:500px;}

.zk_box{ margin-top:8px;}
.zk_nav{ height:29px; border:1px solid #e8e8e8; margin-bottom:7px;}

.zk_nav_left li{ padding:0 15px 0 20px; height:29px; line-height:29px; border-right:1px solid #e8e8e8;}
.zk_nav_left li a{ color:#333;}
.zk_nav_left li span{ background:url(../images/zk_4.png) no-repeat 0 -820px; width:8px; height:8px; display:inline-block;}


.zk_nav_left .zk_active{ border-top:2px solid #2bb8aa; height:29px; line-height:27px; margin-top:-1px;}
.zk_nav_left .zk_active a{ color:#2bb8aa;}
.zk_nav_left .zk_active span{ background:url(../images/zk_4.png) no-repeat 0 -810px; width:8px; height:8px; display:inline-block;}
.zk_nav_left li:hover a{color:#2bb8aa;}
.zk_nav_left li:hover span{ background:url(../images/zk_4.png) no-repeat 0 -810px; width:8px; height:8px; display:inline-block;}





.zk_nav_r a{ background:url(../images/zk_4.png) no-repeat -2px -98px; width:48px; height:12px; line-height:12px; padding-left:13px; display:inline-block; margin-left:25px; margin-top:9px;}

.zk_nav_r .zk_nav_active{ background:url(../images/zk_4.png) no-repeat -2px -77px;}

/* bannar */
.zk_b_left{ width:740px;}
.zk_b_left ul{ width:740px;}

.zk_li{ width:350px; height:370px; border:1px solid #e8e8e8; margin:0 16px 16px 0;}
.zk_li .zk_div1{ margin-top:18px; padding-left:16px;}
.zk_li:hover{ border:1px solid #2bb8aa;}

.zk_li .zk_p1{ font-size:16px; font-weight:bold; cursor:pointer; margin-bottom:10px;}
.zk_li .zk_p1 span{ font-size:16px; color:#f76120;}

.zk_li .zk_p2{ font-size:14px; color:#999;}

.zk_li .zk_p3{ margin:26px 0 12px 0;}
.zk_li .zk_p3 .zk_p3_span{ font-size:14px; color:#f76120; font-family:arial,sans-serif; margin-right:12px;}
.zk_li .zk_p3 .zk_p3_span strong{ font-size:19px;}
.zk_li .zk_p3 .zk_p3_spans{ font-size:12px; color:#999;font-family:arial,sans-serif;}
.zk_li .zk_p3 .zk_p3_spans i{ font-size:12px; text-decoration:line-through;}


.zk_b_left .zk_ul{ margin:40px 0 66px 184px;}
.zk_lli{ height:34px; padding:0 15px; border:1px solid #eee; text-align:center; line-height:32px; margin-right:5px;}
.zk_lli a{ color:#2bb8aa;}
.zk_lli_active{ background:#2bb8aa; border:1px solid #2bb8aa;}
.zk_lli_active a{ color:#fff;}
.zk_lli:hover{ border:1px solid #2bb8aa;}

.zk_div2{ border-top:1px solid #e8e8e8; padding:1px;}
.zk_div2 .zk_p4{ background:#fafafa; height:33px; padding:0 16px; line-height:33px; color:#999;}
.zk_p4_span b{ color:#f76120;}
.zk_p4 .zk_span{ display:inline-block; width:60px; height:12px; background:url(../images/zk.png) repeat-x 0 0;}
.zk_p4 .zk_spana{ color:#949494;}



.zk_side_top{ width:238px; height:226px; border:1px solid #e8e8e8; overflow:hidden; margin-bottom:15px;}
.zk_side_top a{ background:url(../images/zk_5.png) no-repeat -5px -336px; width:160px; height:57px; display:block; margin:30px 0 23px 28px;}
.zk_side_top p{ width:198px; height:0; border-top:1px dotted #ddd; margin-left:20px;}
.zk_side_top .zk_si{background:url(../images/zk_5.png) no-repeat -2px -944px;height:70px; width:180px;}

.zk_side_c{ width:238px; height:186px; border:1px solid #e8e8e8;}
.zk_side_c h3{ font-size:16px; padding:10px 20px; border-bottom:1px solid #e8e8e8;}

.zk_side_cc{ width:238px; height:154px; border:1px solid #e8e8e8; margin-top:15px;}



.zk_column{ margin-bottom:20px;}
.zk_column ul{ height:41px; background:#fafafa; border:1px solid #e8e8e8;}
.zk_column ul li{ height:41px; line-height:41px; padding:0 16px; border-right:1px solid #e8e8e8;}
.zk_column ul li a{ color:#00bbbb;}
.zk_column ul li:hover{ background:#fff; border-top:2px solid #2eb6aa; height:40px; line-height:37px;}
.zk_column ul .zk_column_active{ background:#fff; border-top:2px solid #2eb6aa; height:40px; line-height:37px;}


.zk_c_b{ border:1px solid #e8e8e8; border-top:none; padding:17px 35px 12px 20px;}
.zk_c_b a{ margin-right:20px; color:#3e4545;}




.dss_footer{margin-top:64px;height:331px;border-top:3px solid #3aa2a2;background:#f6f6f6;}
  .dss_wrapper{width:980px;margin:0 auto;}
  .dss_footer_box1{width:162px;height:155px;border-left:1px dotted #a5a5a5;border-right:1px dotted #a5a5a5;margin-right:-1px;padding-top:25px;padding-left:25px; }
  .dss_footer_box1 h4{font-size:14px;color:#3e4545;}
  .dss_footer_box1_list{margin-top:11px;}
  .dss_footer_box1_list li{font-size:12px;height:21px;line-height:21px;background:url(../images/dss_6x6.png) no-repeat center left;margin-left:4px;padding-left:13px;}
  .dss_footer_box1_list a{color:#3e4545;}
  .dss_footer_box1_list a:hover,.dss_footer_box2_p a:hover,.dss_copyright a:hover{text-decoration:underline;}
  .dss_footer_box1_list p{padding-left:16px;}
  .dss_footer_box2{width:202px;height:159px;border-right:1px dotted #a5a5a5;padding-top:21px;padding-left:24px;}
  .dss_footer_box2_bg{background:url(../images/dss_inline.png) no-repeat center center;width:52px;height:49px;margin-left:62px;}
  .dss_footer_box2_p{margin-top:19px;font-size:12px;color:#666666;font-weight:bold;}
  .dss_footer_box2_p a{margin-top:7px;color:#2bb8aa;}
  .dss_footer_box2_service{margin-top:22px;font-size:12px;color:#666666;}
  .dss_copyright p{margin-top:34px;text-align:center;color:#999999;}
  .dss_copyright a{color:#999999;}
  .dss_friendlink{margin-top:22px;padding-left:184px;}



























